.checkpoint {
    flex: 1;
}

.status-title {
    position: relative;
    text-align: center;
    border: 1px solid;
    width: 40%;
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 50%;
}

.checkpoint:not(:last-child) > .status-title::after {
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 20%;
    left: 100%;
    z-index: 1;
    transition: all ease-in-out .3s;
}